<h3>Új megjegyzés:</h3>
<form method="post">
    <input type="hidden" name="munkaId" value="{{munkaId}}">
    <div class="form-group">
      <label for="leiras" class="col-lg-2 control-label">Munka leírása: </label>
      <div class="col-lg-10">
        <textarea class="form-control" 
               name="szoveg" id="szoveg" 
               placeholder="Írja le a véleményét..."></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <div class="form-group">
            <button {{action "onSubmit"}} class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
</form>